body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

body .index{
    justify-content: flex-end;
}

main h1, h2{
    text-align: center;
}

main div input{
    padding-bottom: 20px;
}

main button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;

  }

  main .index-button {
      margin-top: 50vh;
  }

  main .questionPage{
      text-align: justify;
  }


  main div .answer{
      padding: 1vh;
  }

  main div {
      margin-top: 10vh;
  }